<!DOCTYPE html>
<html>
<head>
<style>

body {
       background-image: url('https://t3.ftcdn.net/jpg/00/92/54/62/240_F_92546294_CK5Hirzg2X0QJuknWNqJllMwUQqumcdp.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100% ;

}
</style>
  </head>
  <body>
	<h2>CONTACT US</h2>


	<h3><label for="fname">Enter a valid email address:</label></h3>
	<input type="text14" id="fname" name="fname"><br>
	<h3><label for="lname">Enter your name:</label></h3>
	<input type="text15" id="lname" name="lname"><br><br>
	<textarea name="message2" style="width:300px; height:200px; font-size:140%;">Enter your message:</textarea></h3><br><br>
	<input type="submit3" value="submit">
  </form>
</body>
</html>
