{%extends 'layout2.html'%}

{%block content%}


<div class="img2"></div>
<div class="head1">
    <h1>Food Services</h1>
</div>
<div class="data">
    <p><h2>You can enter food name and we give you food nutrition details.</h2></p>
</div>
<style>
    * {
      box-sizing: border-box;
    }
    
    
    .column {
      float: left;
      width: 50%;
      padding: 10px;
      height: 300px; 
    }
    .left {
      width: 15%;
    }
    
    .right {
      width: 85%;
    }
    
    
    .row:after {
      content: "";
      display: table;
      clear: both;
      padding: 60px;
    }
    </style>

    <body>
    
    <h2 style="text-align:center;">Enter the food details inside the box mentioned below.</h2>
    <p><h5 style="text-align:center;">Enter food name/ upload image and click ok button.</h5></p>
    
    <div class="row">
      <div class="column left" style="background-color:#f3f48b;">
        <h2 style="text-align:center;">Please upload</br>
             an image to </br>
            to know details.</br></h2>
        <form action="/action_page.php">
            
            <input type="file" id="myFile" name="filename">

            <input type="button" name="" value="ok">
        </form>
      </div>
      <div class="column right" style="background-color:#ffffff;">
        <h2 style="text-align:center;">Please enter the</br>
        food name</br>
        to know nutrients details.</br></h2>
        <form action="/food" method="POST">
            
            <input type="text1" name="food" placeholder="Enter food name">
             <input type="submit" name="submit" value="submit">
        </form></br>
        <style>
          table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
          }
          th, td {
            padding: 1px;
          }
          th {
            text-align: left;
          }
          </style>

        <table style="width:80%">
          <tr>
            <th><p>name</p></th>
            <th><p>calorie</p></th>
            <th><p>sugar</p></th>
            <th><p>fiber</p></th>
            <th><p>sodium</p></th>
            <th><p>potassium</p></th>
            <th><p>serving_size</p></th>
            <th><p>fat_saturated</p></th>
            <th><p>fat_total</p></th>
            <th><p>cholesterol</p></th>
            <th><p>protein</p></th>
            <th><p>carbohydrates_total</p></th>
          </tr>
          <tr>
            <td><p>{{name}}</p></td>
            <td><p>{{calorie}}</p></td>
            <td><p>{{sugar}}</p></td>
            <td><p>{{fiber}}</p></td>
            <td><p>{{sodium}}</p></td>
            <td><p>{{potassium}}</p></td>
            <td><p>{{serving_size}}</p></td>
            <td><p>{{fat_saturated}}</p></td>
            <td><p>{{fat_total}}</p></td>
            <td><p>{{cholesterol}}</p></td>
            <td><p>{{protein}}</p></td>
            <td><p>{{carbohydrates_total}}</p></td>
          </tr>
        </table>
      </div>
    </div></br>
    <hr class="new">
    <style>
      hr.new{
        border: 10px solid black;
        border-radius: 5px;
      }
      </style>
    <div class="meal1">
        <h1><span style="color:red;font-weight:bold">To Get Meal Recipes</span></h1>
    <a href="/recipes" class="click1">clickhere</a></br>

    <div class="tips1">
        <h1><span style="color:purple;font-weight:bold">Healthy Tips </h1></br>
        <p>""Happiness <span style="color:black">Begins</span> With Good <span style="color:black">Health!!!""</span></p>
        <a href="https://www.nhs.uk/live-well/eat-well/how-to-eat-a-balanced-diet/eight-tips-for-healthy-eating/" class="click1">clickhere</a>
        <a href="/tips"></a>

    {%endblock content%}