{%extends 'layout2.html'%}

{%block content%}
<body>
    <div class="img3">
<div class="calories-cal">
    <div class="contain">
        <div class="row1">
            <div class="col-md-6">
                <div class="left-data">
                <h1>Calorie Calculator</h1>
                <h5>Weight (kg)</h5>
                <input type="text1" id="we">

                <h5>Height (cm)</h5>
                <input type="text1" id="hi">

                <h5>Gender</h5>
                <input type="text1" id="g">

                <h5>Age</h5>
                <input type="text1" id="age">

                <p id="resultcal"></p>

                <button  class="btn btn-primary" onclick="Calo()">Calculate</button>
                <button class="btn btn-danger" onclick="Clear()">Clear</button>
        
                <p>It's recommended that men have around 2,500 calories a day. Women should have around 2,000 calories a day.</br>
                    To Know More Details<a href="https://www.nhs.uk/live-well/eat-well/how-to-eat-a-balanced-diet/eight-tips-for-healthy-eating/" class="click1">clickhere</a>
                    <a href="/tips"></a><p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="pie-chart">
                <h1 style="color:#F2DEBA">Pie Chart</h1>
                <canvas id="myChart"></canvas>
            </div>
        </div>
    </div>

</div>
</div>

</div>

</body>
    {%endblock content%}